<% make_current_question_null %>
<% provide(:title, 'Nová otázka') %>

<div class="row">
  <div class="col-md-9 my_content">
    <h3><strong>Nová otázka</strong></h3>


    <div class="col-md-6 col-md-offset-3">
      <%= form_for([@login_user, @select_topic, @question]) do |t| %>
          <%= render 'shared/error_messages', object: t.object %>

          <%= hidden_field_tag :topic_id, @current_topic.id %>

          <%= t.label :question_name, text="Meno otázky"  %>
          <%= t.text_field :question_name, class: 'form-control' %>

          <%= t.submit "Vytvoriť otázku", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>