<% provide(:isRoot, 'true') %>
<% provide(:title, 'Login') %>

<h1>Prihl치senie</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :login_name %>
        <%= f.text_field :login_name, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Prihl치si콘 sa", class: "btn btn-primary" %>
    <% end %>

    <p>Ako sa zaregistrova콘?<%= link_to "#TODO", '' %></p>
  </div>
</div>
