<% provide(:isRoot, 'true') %>
<% provide(:title, 'Login') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <h1>Prihl치senie</h1>
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :login_name, text="Prihlasovacie meno"  %>
        <%= f.text_field :login_name, class: 'form-control' %>

        <%= f.label :password, text="Heslo"  %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Prihl치si콘 sa", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "Ako sa zaregistrova콘?", contacts_path(how_to: '1') %></p>
  </div>
</div>
