<% provide(:title, 'Upravovanie tém') %>
<% make_current_topic_null %>
<% current_topic(@topic.id) %>

<div class="row">
  <div class="col-md-9 my_content">

    <h3><strong>Úprava témy <%= @topic.topic_name %></strong></h3>

    <div class="col-md-6 col-md-offset-3">
      <%= form_for([@login_user, @topic]) do |t| %>
          <%= render 'shared/error_messages', object: t.object %>

          <%= hidden_field_tag :user_id, current_user.id %>

          <%= t.label :topic_name %>
          <%= t.text_field :topic_name, class: 'form-control' %>

          <%= t.label :information %>
          <%= t.text_area :information, class: 'form-control' %>

          <%= t.submit "Upraviť tému", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>