<% current_question(@select_question.id) %>
<% provide(:title, 'Odpovede') %>

<div class="row">

  <div class="col-md-9 my_content well">
    <h3><strong>Odpovede otázky: <%= @select_question.question_name %></strong></h3>

    <% @answers.each do |a| %>
        <% if a.is_right == false %>
            <% bool = 'nesprávna' %>
        <% else %>
            <% bool = 'správna' %>
        <% end %>
        <h3><%=  a.answer_name + ': ' + bool%></h3>
        <%= link_to "Uprav odpoveď", edit_user_topic_question_answer_path(@login_user, @select_topic, @select_question, a) %>
        <%= link_to "Vymaž odpoveď", [@login_user, @select_topic, @select_question, a], method: :delete, data: { confirm: 'Ste si istý, že chcete vymazať odpoveď?' }  %>
    <% end %>

    <% if @answers.count == 0 %>
        <p>Zoznam odpovedí je prázdny. <%= link_to "Pridať", new_user_topic_question_answer_path(@login_user, @select_topic, @select_question) %> odpoveď?</p>
    <% else %>
        <p><%= link_to "Pridať ďalšiu odpoveď.", new_user_topic_question_answer_path(@login_user, @select_topic, @select_question) %></p>
    <% end %>
  </div>

</div>