<% provide(:title, 'Testovanie') %>
<% set_test_active %>

<div class="row <%= "testing" if (is_test? && !logged_in?) %>">
  <div class="col-md-9 my_content anchor_line well">

    <h3><strong>Testovanie</strong></h3>

    <div class="col-md-6 col-md-offset-3">
        <%= form_tag :action => 'results', method: :post do %>

          <% @current_tests.each do |ct| %>
              <% @questions[ct.topic_id].each do |q| %>
                  <h4><%= q.question_name %></h4>
                  <%= render 'layouts/questions', :q => q, :ct => ct %>
              <% end %>
          <% end %>

          <%= submit_tag 'Odoslať riešenie', class: "btn btn-primary"  %>
        <% end %>

    </div>
  </div>
</div>

