<% provide(:title, 'Analýza testu') %>

<div class="row">
  <div class="col-md-9 my_content anchor_line well">

    <h3><strong>Analýza testu: <%= @test.test_name %> (odpovedali: <%= @q_count %>)</strong></h3>

    <h1>---------- Súhrn dát ----------</h1>
    <div class="col-md-12">
      <h3>Počet správnych/nesprávnych odpovedí celkovo</h3>

      <% values = [true, false]
         data = {}
         values.each do |values|
           data[get_slovak_val_of(values)] = @all_answers.group(:answer_value).count(:id)[values]
         end %>

      <%= pie_chart data %>

    </div>

    <div class="col-md-12">
      <h3>Porovnanie odpovedí na jednotlivé témy</h3>

      <% data = []
         values = [true, false]
         values.each do |values|
             item = {}
             item[:name] = get_slovak_val_of(values)
             item[:data] = []
             @all_topics.each do |topic|
               next if @all_topics_answers[topic.id].nil?
               array = []
               array << topic.topic_name
               array << @all_topics_answers[topic.id].where(answer_value: values).count
               item[:data] << array
             end
             data << item
         end %>

      <%= column_chart data %>
    </div>

    <h1>---------- Témy jednotlivo ----------</h1>
    <% @all_topics.each do |at| %>
        <div class="col-md-12">
          <h3>Téma: <%= at.topic_name %> (Počet dobrých a zlých odpovedí)</h3>

          <% values = [true, false]
             data = {}
             values.each do |values|
               data[get_slovak_val_of(values)] = @all_topics_answers[at.id].group(:answer_value).count(:id)[values]
             end %>
          <%= pie_chart data %>

        </div>
    <% end %>

    <% unless show_question_analyzation %>
        <%= link_to 'Zobraz analýzu odpovedí na jednotlivé otázky', user_test_concrete_test_path(@login_user, @test, :starting_date => @starting_date, :show_q => "q", count: @q_count) %>
    <% end %>

    <% if show_question_analyzation %>
        <% @all_topics.each do |at| %>
            <h1>---------- Otázky témy <%= at.topic_name %> ----------</h1>
            <div class="col-md-12">

            <% data = []
               values = [true, false]
                values.each do |values|
                    item = {}
                    item[:name] = get_slovak_val_of(values)
                    item[:data] = []
                    at.questions.each do |question|
                        next if @all_questions_answers[question.id].nil?
                        array = []
                        array << question.question_name
                        array << @all_questions_answers[question.id].where(answer_value: values).count
                        item[:data] << array
                    end
                    data << item
                end %>

            <%= column_chart data%>
            </div>
        <% end %>

        <h1>---------- Všetky otázky jednotlivo ----------</h1>
        <% @all_questions.each do |aq| %>
            <div class="col-md-12">
              <h3>Otázka : <%= aq.question_name %></h3>

              <% values = [true, false]
                 data = {}
                 values.each do |values|
                   data[get_slovak_val_of(values)] = @all_questions_answers[aq.id].group(:answer_value).count(:id)[values]
                 end %>
              <%= pie_chart data %>

            </div>
        <% end %>
    <% end %>
  </div>
</div>

