<% make_current_question_null %>
<% provide(:title, 'Úprava testu') %>

<div class="row">
  <div class="col-md-9 my_content well">
    <h3><strong>Edituj test: <%= @test.test_name %></strong></h3>


    <div class="col-md-6 col-md-offset-3">
      <%= form_for([@login_user, @test]) do |t| %>
          <%= render 'shared/error_messages', object: t.object %>

          <%= t.label :test_name, text="Názov testu"  %>
          <%= t.text_field :test_name, class: 'form-control' %>

          <%= t.label :duration, text="Trvanie testu"  %>
          <%= t.time_select :duration, class: 'form-control' %>

          <%= t.hidden_field :starting_date %>
          <%= t.hidden_field :is_hidden, value: false %>

          <ul class="dynamic_content">
            <% @current_tests_all.each do |ct| %>
                <% @current_tests.topic_id = ct.topic_id %>
                <% @current_tests.questions_count = ct.questions_count %>
                <%= render 'layouts/current' %>
            <% end %>
          </ul>
          <h2><%= link_to "Pridať ďalšiu tému", "#add", :id => "add-another" %>,
            <%= link_to("Odstrániť poslednú tému", "#delete", :class => "delete-current") %></h2>
          <%= t.submit "Uprav test", class: "btn btn-primary" %>
      <% end %>


    </div>
  </div>

</div>