<% provide(:title, 'Testy') %>
<% make_all_current_null %>

<div class="row">

  <div class="col-md-9 my_content anchor_line well">
    <h3><strong>Testy</strong></h3>
    <% if @tests.count == 0%>
        <h3>Najprv vytvorte <%= link_to "test", new_user_test_path(@login_user) %>.</h3>
    <% end %>
    <% @tests.each  do |t|%>
        <h3 class="marg_top"><%= t.test_name %></h3>
        <h2><%= link_to "Náhľad do obsahu testu", user_test_path(@login_user, t) %>,
        <%= link_to "Edituj test", edit_user_test_path(@login_user, t) %>,
        <%= link_to "Vymaž test", [@login_user, t], method: :delete, data: { confirm: 'Ste si istý, že chcete vymazať test?' }  %></h2>
        <% if check_duration(t) %>
            <h3 class="marg_bot">Link: <%= link_to user_test_active_test_url(@login_user, t), "" %></h3>
        <% else %>
            <h3 class="marg_bot"><%= link_to "Aktivuj test", user_test_make_test_active_path(@login_user, t)%></h3>
        <% end %>
    <% end %>
  </div>
</div>
