<%= fields_for "test[current_tests_attributes][]", @current_tests do |u| %>
  <li>
    <% @current_tests[:questions_count].nil? ? @current_tests[:questions_count] = 1 : true  %>
    <%= u.label :topic_id, text="Názov témy" %>
    <%= u.collection_select :topic_id, @user_topics, :id, :topic_name, class: 'form-control' %>

    <%= u.label :questions_count, text="Počet otázok" %>
    <%= u.number_field :questions_count, class: 'new_elements', min:1%>
  </li>
<% end %>