<section class="my_content left_menu">
  <div class="col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="well">
    <ul class="nav">

      <li class="nav-header">Nastavenia tém</li>
      <li><%= link_to 'Zoznam tém', user_topics_path(@current_user) %></li>
      <li><%= link_to 'Nová téma', new_user_topic_path(@current_user) %></li>

      <% if !@current_topic.nil? %>
            <li class="nav-header">Téma: <%= @current_topic.topic_name %></li>
            <li><%= link_to 'Zoznam otázok', user_topic_questions_path(@login_user, @current_topic) %></li>
            <li><%= link_to 'Nová otázka', new_user_topic_question_path(@login_user, @current_topic) %></li>
            <li><%= link_to 'Uprav tému', edit_user_topic_path(@login_user, @current_topic) %></li>
            <li><%= link_to 'Vymaž tému', [@login_user, @current_topic], method: :delete, data: { confirm: 'Ste si istý, že chcete vymazať tému a všetky prislúchajúce otázky?' } %></li>
      <% end %>

      <% if !@current_question.nil? %>
          <li class="nav-header">Otázka:<%= @current_question.question_name %></li>
            <li><%= link_to 'Zoznam opovedí', user_topic_question_answers_path(@login_user, @current_topic, @current_question) %></li>
            <li><%= link_to 'Nová odpoveď', new_user_topic_question_answer_path(@login_user, @current_topic, @current_question) %></li>
            <li><%= link_to 'Uprav otázku', edit_user_topic_question_path(@login_user, @current_topic, @current_question) %></li>
            <li><%= link_to 'Vymaž otázku', [@login_user, @current_topic, @current_question], method: :delete, data: { confirm: 'Ste si istý, že chcete vymazať otázku?' } %></li>
      <% end %>

      <li class="nav-header">Nastavenia testov</li>
      <li><%= link_to 'Nový test', new_user_test_path(@current_user) %></li>
      <li><%= link_to 'Všetky testy', user_tests_path(@current_user) %></li>
      <li><%= link_to 'Odovzdané testy', user_analyzed_tests_path(@current_user) %></li>
    </ul>
    </div>
  </div>

</section>

